.productCard-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 380px;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--color-accent);
}

.productCard-wrapper .productCard-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.productCard-wrapper .productCard-price {
  margin-top: 10px;
}

.productCard-name {
  margin: 0;
}
