.basket-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: end;
  gap: 30px;
  margin-bottom: 30px;
  list-style: none;

  .basket-item-img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
  }

  .basket-item-params {

    .basket-item-price {
      font-size: 20px;
      font-weight: bold;
      font-style: italic;
      -webkit-text-fill-color: var(--color-black);
      -webkit-text-stroke: 1px var(--color-accent);
    }

    .basket-item-name {
      margin-bottom: 10px;
      span {
        margin-right: 10px;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        -webkit-text-fill-color: var(--color-black);
        -webkit-text-stroke: 1px var(--color-accent);
      }
    }

    .basket-item-size {
      margin-right: 16px;
      font-style: italic;
      text-transform: uppercase;

      span {
        text-transform: initial;
      }
    }
  }

  div button {
    width: auto;
    height: 16px;
    background-color: transparent;
    box-shadow: none;
    text-decoration: underline;
  }
}
